*,
*::after,
*::before {
    box-sizing: border-box;
}

/* GENERAL STYLES */
html {
    font-family: 'Helvetica', sans-serif;
    color: black;
    background-color: gray;
}
h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
    margin: 25px;
}
section {
    border: 3px solid white;
    margin-bottom: 20px;
    padding: 0px 20px 20px;
    background-color: lightgray;
    margin: 50px 50px;
}

/* COLORS STYLE */
.colors div {
    display: inline-block;
    text-align: center;
    margin: 25px;
    font-size: 1.5rem;
}
.color1, 
.color2, 
.color3, 
.color4 {
    color: white;
    width: 300px;
    height: auto;
}
.color1 {
    background-color: #626520;
}
.color2 {
    background-color: #3D91E0;
}
.color3 {
    background-color: #952B60;
}
.color4 {
    background-color: #F1B620;
}

/* FONTS STYLE */
.fonts div {
    display: inline-block;
    margin: 25px;
    font-size: 1.1rem;
    line-height: 30px;
    width: 500px;
}
.font1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font2 {
    font-family: 'Georgia';
}
.font3 {
    font-family: 'Franklin Gothic Medium';
}
.font-name {
    font-size: 1.5rem;
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/* TEXT STYLE [STYLE] */
.textStyle div {
    display: inline-block;
    margin: 25px;
    line-height: 40px;
    width: 500px;
}
.style1 {
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium';
}
.style2 {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium';
}
.style3 {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Georgia';
}